DATABASE_URL="postgresql://postgres:181818@localhost:5432/nextcms?schema=public"
NEXTAUTH_SECRET="0a4GUwuOt6aa22eqhjFk765StpmE6y3jiQ1emKCDwFM="
NEXTAUTH_URL="http://localhost:3000"

# SSO Google
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# SSO Github
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
